.todo-table {
  position: relative;
  margin: auto;
  margin-top: 5vh;
  padding: 1rem;
  width: 85vw;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.belowBody {
  padding-top: 3.5rem;
  padding-bottom: 1rem;
}

.mr-bottom {
  padding-bottom: 12rem;
}

table {
  margin: auto;
}

.sort-icon {
  cursor: pointer;
}

.table-responsive {
  display: table !important;
}

.table .thead-light th:nth-child(1) {
  border-radius: 0.75rem 0rem 0rem 0.75rem;
}

.table .thead-light th:nth-child(8) {
  border-radius: 0rem 0.75rem 0.75rem 0rem;
}

.todo-table:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.not-visible {
  display: none !important;
}

.sort-icon {
  position: relative;
  display: inline-block;
}

.end-date-column {
  border-radius: 0 !important; /* Xóa bo tròn */
}

.end1-date-column {
  border-radius: 0 10px 10px 0 ; /* Bo tròn bên phải */
  overflow: hidden;
}

.center-image {
  display: block;
  margin: 0 auto;
  max-width: 50% !important;
  height: 50% !important;
}

thead th:not(:last-child) {
  background-color: #c2baba6b !important; /* Màu nền xám nhạt */
}
thead th:first-child {
  border-top-left-radius: 10px; /* Điều chỉnh độ cong */
  border-bottom-left-radius: 10px;
}
thead .end-time-column {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
thead .des-column {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

@media screen and (max-width: 768px) {
  .table-responsive {
    display: block !important;
  }
}

@media screen and (max-width: 992px) {
  .todo-table {
    width: 95vw;
  }
}
