.fixedTop-1 {
  font-weight: 700;
  color: white;
  padding-top: 96px;
  z-index: 10;
}

.navbar-text {
  color: unset !important;
}

input[type="datetime-local"] {
  border-top-right-radius: 0.3rem !important;
  border-bottom-right-radius: 0.3rem !important;
}

.fixedTop-2 {
  padding-top: 3vh !important;
  padding-bottom: 3vh !important;
  width: 85vw;
  border-radius: 1rem;
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-top: 3rem;
  z-index: 9;
}

.fixedTop-2:hover {
  box-shadow:
    0 5px 5px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
}

.nav-2 {
  margin-left: auto;
}

.nav-2 .row {
  width: inherit;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.navbar-text {
  font-weight: 500;
  color: #eeeeee !important;
}

.search-btn svg {
  position: relative !important;
  margin-top: 0px !important;
  margin-left: 0px !important;
}

.btn-block {
  display: block;
  width: 100%;
}

@media screen and (max-width: 576px) {
  .fixedTop-2 {
    padding-top: 1vh !important;
  }

  .nav-2 {
    margin-top: 2vh;
  }
}

@media screen and (max-width: 992px) {
  .fixedTop-2 {
    width: 95vw;
  }

  .nav-2 {
    width: 90vw;
  }
}

.addTask-btn {
  width: 170px;
}

.searchBar {
  width: 360px;
}

.fromDate {
  width: 280px;
}

.toDate {
  width: 260px;
}

.btn-bar {
  width: 90px;
}

.dateBar {
  width: fit-content;
  .fromDate {
    margin-right: 16px;
  }
}

.buttonBar {
  width: fit-content;
}

@media screen and (max-width: 1360px) {
  .nav-2 .row {
    display: flex;
    flex-direction: column;
  }

  .addTask-btn {
    width: 100%;
    margin-bottom: 16px;
  }

  .searchBar {
    width: 100%;
    margin-bottom: 16px;
  }

  .dateBar {
    justify-content: space-between;
    width: 100%;
    margin-bottom: 16px;
    .fromDate {
      width: 48%;
      margin-right: 0;
    }
    .toDate {
      width: 48%;
    }
  }

  .buttonBar {
    justify-content: center;
    width: 100%;
    margin-bottom: 16px;
    .btn-bar {
      width: 150px;
    }
  }
}
