.accordion {
  position: relative;
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 0;
  padding: 0 0;
  width: 85vw;
  border-radius: 1rem;
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-header .row {
  margin-left: 0px !important;
}

.accordion:hover {
  box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-header svg {
  position: relative !important;
  margin-top: 0.5rem !important;
  margin-left: auto !important;
}

.card-header .svg-inline--fa {
  height: 2em !important;
  width: 2.5em !important;
  cursor: pointer;
}

.card-header h2 {
  margin-top: 10px;
  line-height: 1 !important;
}

.card {
  border: none !important;
  border-radius: inherit;
  margin-bottom: 2rem;
}

.card-header {
  background-color: white;
  display: inline-block !important;
}

.archive .thead-light th:nth-child(7) {
  border-radius: 0rem 0.75rem 0.75rem 0rem;
}

.no-tasks-message {
  margin-top: 20px;
  color: #999; /* Light gray color */
  font-size: 1.2rem;
  font-weight: 500;
}

thead th:not(:last-child) {
  background-color: #c2baba6b !important; /* Màu nền xám nhạt */
}
thead th:first-child {
  border-top-left-radius: 10px; /* Điều chỉnh độ cong */
  border-bottom-left-radius: 10px;
}
thead .end-time-column {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
thead .des-column {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

@media screen and (max-width: 992px) {
  .accordion {
    width: 95vw;
  }
}
